@import "tailwindcss";


/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}
/* 
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 4px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #9641dd, #5465da, #078eb2);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #a855f7, #6366f1, #06b6d4);
  box-shadow: 0 0 10px rgba(148, 65, 221, 0.5);
} */

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: grey rgba(0, 0, 0, 0.2);
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}