/* @keyframes moveUpDown {
  0% {
    transform: scale(20);
    transform: rotate(10deg);

  }
  100% {
    transform: scale(5);
    transform: rotate(-10deg);
  }
} */


@keyframes moveUpDown {
  0% {
    transform:   rotate(10deg);
  }
  100% {
    transform: scale(0.89)  rotate(-10deg);
  }
}
